<html class="bg-white">
<body>
    {{> mainNav}}

    <main class="container mx-w-6xl mx-auto py-4">
        <div class="flex flex-col space-y-8">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 px-4 xl:p-0 gap-4 xl:gap-6">
                <div class="col-span-1 md:col-span-2 lg:col-span-4 flex justify-between">
                    <h1 class="md:text-lg text-gray-700 font-bold tracking-wide md:tracking-wider">
                        Week Plan</h2>
                    <a href="#"
                            class="px-4 py-2 text-xs bg-blue-100 text-blue-500 rounded uppercase tracking-wider font-semibold hover:bg-blue-300">More</a>
                </div>

                <!-- Monday -->
                <div class="weekday">
                    <div class="flex flex-col">
                        <h3 class="weekday-text">Monday</h3>
                        <div object>
                            <ul key="monday" array sortable>
                                {{#for todo in monday}}
                                <li
                                    object
                                    key:text="@innerText" 
                                    edit:text
                                    >{{ default todo.text "Click here to add item" }}</li>
                                {{/for}}
                            </ul>
                            <button class="main_button" new:todo>Add Todo</button>
                        </div>
                    </div>
                    <div class="p-2 md:p-1 xl:p-2 rounded-md">
                        <img src="assets/images/Monday.png" alt="icon" class="day-icon-img">
                    </div>
                </div>

                <!-- Tuesday -->
                <div class="weekday">
                    <div class="flex flex-col">
                        <h3 class="weekday-text">Tuesday</h3>
                        <div object>
                            <ul key="tuesday" array sortable>
                                {{#for todo in tuesday}}
                                <li
                                    object
                                    key:text="@innerText" 
                                    edit:text
                                    >{{ default todo.text "Click here to add item" }}</li>
                                {{/for}}
                            </ul>
                            <button class="main_button" new:todo>Add Todo</button>
                        </div>
                    </div>
                    <div class="p-2 md:p-1 xl:p-2 rounded-md">
                        <img src="assets/images/Tuesday.png" alt="icon" class="day-icon-img">
                    </div>
                </div>


                <!-- Wednesday -->
                <div class="weekday">
                    <div class="flex flex-col">
                        <h3 class="weekday-text">Wednesday</h3>
                        <div object>
                            <ul key="wednesday" array sortable>
                                {{#for todo in wednesday}}
                                <li
                                    object
                                    key:text="@innerText" 
                                    edit:text
                                    >{{ default todo.text "Click here to add item" }}</li>
                                {{/for}}
                            </ul>
                            <button class="main_button" new:todo>Add Todo</button>
                        </div>
                    </div>
                    <div class="p-2 md:p-1 xl:p-2 rounded-md">
                        <img src="assets/images/Wednesday.png" alt="icon" class="day-icon-img">
                    </div>
                </div>


                <!-- Thursday -->
                <div class="weekday">
                    <div class="flex flex-col">
                        <h3 class="weekday-text">Thursday</h3>
                        <div object>
                            <ul key="thursday" array sortable>
                                {{#for todo in thursday}}
                                <li
                                    object
                                    key:text="@innerText" 
                                    edit:text
                                    >{{ default todo.text "Click here to add item" }}</li>
                                {{/for}}
                            </ul>
                            <button class="main_button" new:todo>Add Todo</button>
                        </div>
                    </div>
                    <div class="p-2 md:p-1 xl:p-2 rounded-md">
                        <img src="assets/images/Thursday.png" alt="icon" class="day-icon-img">
                    </div>
                </div>


                <!-- Friday -->
                <div class="weekday">
                    <div class="flex flex-col">
                        <h3 class="weekday-text">Friday</h3>
                        <div object>
                            <ul key="friday" array sortable>
                                {{#for todo in friday}}
                                <li
                                    class="todo" 
                                    object
                                    key:text="@innerText" 
                                    edit:text
                                    >{{ default todo.text "Click here to add item" }}</li>
                                {{/for}}
                            </ul>
                            <button class="main_button" new:todo>Add Todo</button>
                        </div>
                    </div>
                    <div class="p-2 md:p-1 xl:p-2 rounded-md">
                        <img src="assets/images/Friday.png" alt="icon" class="day-icon-img">
                    </div>
                </div>


                <!-- Saturday -->
                <div class="weekend">
                    <div class="flex flex-col">
                        <h3 class="weekend-text">Saturday</h3>
                        <div object>
                            <ul key="saturday" array sortable>
                                {{#for todo in saturday}}
                                <li
                                    class="todo" 
                                    object
                                    key:text="@innerText" 
                                    edit:text
                                    >{{ default todo.text "Click here to add item" }}</li>
                                {{/for}}
                            </ul>
                            <button class="main_button" new:todo>Add Todo</button>
                        </div>
                    </div>
                    <div class="p-2 md:p-1 xl:p-2 rounded-md">
                        <img src="assets/images/Saturday.png" alt="icon" class="day-icon-img">
                    </div>
                </div>

                <!-- Sunday -->
                <div class="weekend">
                    <div class="flex flex-col">
                        <h3 class="weekend-text">Sunday</h3>
                        <div object>
                            <ul key="sunday" array sortable>
                                {{#for todo in sunday}}
                                <li
                                    object
                                    key:text="@innerText" 
                                    edit:text
                                    >{{ default todo.text "Click here to add item" }}</li>
                                {{/for}}
                            </ul>
                            <button class="main_button" new:todo>Add Todo</button>
                        </div>
                    </div>
                    <div class="p-2 md:p-1 xl:p-2 rounded-md">
                        <img src="assets/images/Sunday.png" alt="icon" class="day-icon-img">
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- End Main -->

  </div>
</body>
</html>