<table class="bg-white text-gray-900 table-fixed border-separate w-full shadow-none">
    <tr>
        <th class="bg-blue-700 text-white p-2">Sunday</th>
        <th class="bg-blue-700 text-white p-2">Monday</th>
        <th class="bg-blue-700 text-white p-2">Tuesday</th>
        <th class="bg-blue-700 text-white p-2">Wednesday</th>
        <th class="bg-blue-700 text-white p-2">Thursday</th>
        <th class="bg-blue-700 text-white p-2">Friday</th>
        <th class="bg-blue-700 text-white p-2">Saturday</th>
    </tr>
    <tr class="bg-blue-100 text-blue-900">
        <td class="p-2">
            <div object>
            <ul class="todos" key="todos" array sortable>
                {{#for todo in todos}}
                <li
                    class="todo" 
                    object
                    key:text="@innerText" 
                    edit:text
                    >{{ default todo.text "Note:" }}</li>
                {{/for}}
            </ul>
            <button class="button" new:todo>Add Todo</button>
            </div>
        </td>
        <td class="p-2">
            <div object>
            <ul class="todos" key="todos" array sortable>
                {{#for todo in todos}}
                <li
                    class="todo" 
                    object
                    key:text="@innerText" 
                    edit:text
                    >{{ default todo.text "Note:" }}</li>
                {{/for}}
            </ul>
            <button class="button" new:todo>Add Todo</button>
            </div>
        </td>
        <td class="p-2">
            <div object>
            <ul class="todos" key="todos" array sortable>
                {{#for todo in todos}}
                <li
                    class="todo" 
                    object
                    key:text="@innerText" 
                    edit:text
                    >{{ default todo.text "Note:" }}</li>
                {{/for}}
            </ul>
            <button class="button" new:todo>Add Todo</button>
            </div>
        </td>
        <td class="p-2">
            <div object>
            <ul class="todos" key="todos" array sortable>
                {{#for todo in todos}}
                <li
                    class="todo" 
                    object
                    key:text="@innerText" 
                    edit:text
                    >{{ default todo.text "Note:" }}</li>
                {{/for}}
            </ul>
            <button class="button" new:todo>Add Todo</button>
            </div>
        </td>
        <td class="p-2">
            <div object>
            <ul class="todos" key="todos" array sortable>
                {{#for todo in todos}}
                <li
                    class="todo" 
                    object
                    key:text="@innerText" 
                    edit:text
                    >{{ default todo.text "Note:" }}</li>
                {{/for}}
            </ul>
            <button class="button" new:todo>Add Todo</button>
            </div>
        </td>
        <td class="p-2">
            <div object>
            <ul class="todos" key="todos" array sortable>
                {{#for todo in todos}}
                <li
                    class="todo" 
                    object
                    key:text="@innerText" 
                    edit:text
                    >{{ default todo.text "Note:" }}</li>
                {{/for}}
            </ul>
            <button class="button" new:todo>Add Todo</button>
            </div>
        </td>
        <td class="p-2">
            <div object>
            <ul class="todos" key="todos" array sortable>
                {{#for todo in todos}}
                <li
                    class="todo" 
                    object
                    key:text="@innerText" 
                    edit:text
                    >{{ default todo.text "Note:" }}</li>
                {{/for}}
            </ul>
            <button class="button" new:todo>Add Todo</button>
            </div>
        </td>
    </tr>
    
</table>


{{!-- <div class="flex justify-evenly">
	<div class="item w-32 h-32 flex-initial">
        <table class="bg-white text-gray-900 table-fixed border-separate w-full shadow-none">
            <tr>
                <th class="item w-32 h-32">
                    Sunday
                </th>
            </tr>
            <tr>
                <td class="p-2">
                    <div object>
                    <ul class="todos" key="todos" array sortable>
                        {{#for todo in todos}}
                        <li
                            class="todo" 
                            object
                            key:text="@innerText" 
                            edit:text
                            >{{ default todo.text "Note:" }}</li>
                        {{/for}}
                    </ul>
                    <button class="button" new:todo>Add Todo</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
	<div class="item w-32 h-32 flex-initial">
        <table class="bg-white text-gray-900 table-fixed border-separate w-full shadow-none">
            <tr>
                <th class="item w-32 h-32">
                    Monday
                </th>
            </tr>
            <tr>
                <td class="p-2">
                    <div object>
                    <ul class="todos" key="todos" array sortable>
                        {{#for todo in todos}}
                        <li
                            class="todo" 
                            object
                            key:text="@innerText" 
                            edit:text
                            >{{ default todo.text "Note:" }}</li>
                        {{/for}}
                    </ul>
                    <button class="button" new:todo>Add Todo</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
	<div class="item w-32 h-32">3</div>
	<div class="item w-32 h-32">4</div>
	<div class="item w-32 h-32">5</div>
	<div class="item w-32 h-32">6</div>
	<div class="item w-32 h-32">7</div>
</div> --}}
