<body>
    <nav class="navbar">
        <div class="container">
            <div class="logo">Weekly Planner</div>
            <ul class="nav">
                <li>
                    <a href="/index">Home</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
            </ul>
        </div>
    </nav>
</body>
<table class="bg-white text-gray-900 table-fixed border-separate w-full shadow-none">
    <tr>
        <th class="bg-blue-700 text-white p-2">Sunday</th>
        <th class="bg-blue-700 text-white p-2">Monday</th>
        <th class="bg-blue-700 text-white p-2">Tuesday</th>
        <th class="bg-blue-700 text-white p-2">Wednesday</th>
        <th class="bg-blue-700 text-white p-2">Thursday</th>
        <th class="bg-blue-700 text-white p-2">Friday</th>
        <th class="bg-blue-700 text-white p-2">Saturday</th>
    </tr>
    <tr class="bg-blue-100 text-blue-900">
        <td class="p-2">
            <div object>
            <ul class="todos" key="todos" array sortable>
                {{#for todo in todos}}
                <li
                    class="todo" 
                    object
                    key:text="@innerText" 
                    edit:text
                    >{{ default todo.text "New todo item" }}</li>
                {{/for}}
            </ul>
            <button class="bg-blue-700 text-white p-2 add-todo" new:todo>Add Todo</button>
            </div>
        </td>
        <td class="p-2">
            <div object>
            <ul class="todos" key="todos" array sortable>
                {{#for todo in todos}}
                <li
                    class="todo" 
                    object
                    key:text="@innerText" 
                    edit:text
                    >{{ default todo.text "New todo item" }}</li>
                {{/for}}
            </ul>
            <button class="bg-blue-700 text-white p-2 add-todo" new:todo>Add Todo</button>
            </div>
        </td>
        <td class="p-2">
            <div object>
            <ul class="todos" key="todos" array sortable>
                {{#for todo in todos}}
                <li
                    class="todo" 
                    object
                    key:text="@innerText" 
                    edit:text
                    >{{ default todo.text "New todo item" }}</li>
                {{/for}}
            </ul>
            <button class="bg-blue-700 text-white p-2 add-todo" new:todo>Add Todo</button>
            </div>
        </td>
        <td class="p-2">
            <div object>
            <ul class="todos" key="todos" array sortable>
                {{#for todo in todos}}
                <li
                    class="todo" 
                    object
                    key:text="@innerText" 
                    edit:text
                    >{{ default todo.text "New todo item" }}</li>
                {{/for}}
            </ul>
            <button class="bg-blue-700 text-white p-2 add-todo" new:todo>Add Todo</button>
            </div>
        </td>
        <td class="p-2">
            <div object>
            <ul class="todos" key="todos" array sortable>
                {{#for todo in todos}}
                <li
                    class="todo" 
                    object
                    key:text="@innerText" 
                    edit:text
                    >{{ default todo.text "New todo item" }}</li>
                {{/for}}
            </ul>
            <button class="bg-blue-700 text-white p-2 add-todo" new:todo>Add Todo</button>
            </div>
        </td>
        <td class="p-2">
            <div object>
            <ul class="todos" key="todos" array sortable>
                {{#for todo in todos}}
                <li
                    class="todo" 
                    object
                    key:text="@innerText" 
                    edit:text
                    >{{ default todo.text "New todo item" }}</li>
                {{/for}}
            </ul>
            <button class="bg-blue-700 text-white p-2 add-todo" new:todo>Add Todo</button>
            </div>
        </td>
        <td class="p-2">
            <div object>
            <ul class="todos" key="todos" array sortable>
                {{#for todo in todos}}
                <li
                    class="todo" 
                    object
                    key:text="@innerText" 
                    edit:text
                    >{{ default todo.text "New todo item" }}</li>
                {{/for}}
            </ul>
            <button class="bg-blue-700 text-white p-2 add-todo" new:todo>Add Todo</button>
            </div>
        </td>
    </tr>
    
</table>